
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root{
     --bgash:#F2F2F2;
     --intfont:#898989;
     --hobies:#FFFFFF;
     --bgdark:#161616;
 }
 body {
     background-color: #F2F2F2;
     text-align: center;
 }
 
